.wrapper {
  position: relative;
  color: #495057;
  margin: 20px 0;
}

.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  color: #495057;
}

.card-header {
  padding: 15px 0;
  height: 46px;
  font-size: 14px;
  color: #495057;
}
